{% extends "base.html" %} {% block html_lang %}{{ page.lang }} {% endblock %}

{% block head %}
{{ super() }}
{% if page.summary %}
<meta name="description" content="{{ page.summary | striptags | safe | truncate(150) }}" />
{% endif %}
{% endblock %}

{% block title %}
{{ page.title|striptags }}
{% endblock %}

{% block content %}
{% include "_includes/entry-header.html" %}
<div class="wrapper">
    {% include "_includes/sidebar.html" %}

    <main>
        <section id="content" class="body">
            <article data-use-dropcap="{{ page.dropcap }}">
                {{ page.content }}
            </article>
        </section>
    </main>
</div>
{% endblock %}
