blockquote {
    margin: 4rem 2rem;
    position: relative;
    font-style: italic;
}

blockquote > p:last-of-type {
    text-align: right;
    font-size: 18px;
}

blockquote:before {
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    position: absolute;
    top: -1rem;
}

blockquote::after {
    content: close-quote;
    font-size: 3em;
    line-height: 0.1em;
    position: absolute;
    right: 0;
    bottom: -2.5rem;
}
