#summary {
    font-size: 20px;
    font-style: italic;
}

header {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    line-height: 1;
}

.entry-title {
    margin: 0;
    font-size: 3em;
}

.entry-metadata {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.entry-metadata div:not(:last-child)::after {
    content: "\1D197";
    margin: 0 0.75em;
    font-size: 18px;
    vertical-align: -0.3em;
}
