@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    font-optical-sizing: auto;
    font-feature-settings: none;
    src: url('../fonts/EBGaramond12-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'EB Garamond Italic';
    font-style: italic;
    font-optical-sizing: auto;
    font-feature-settings: none;
    src: url('../fonts/EBGaramond12-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'EB Garamond SC';
    font-optical-sizing: auto;
    font-feature-settings: none;
    src: url('../fonts/EBGaramondSC12-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'EB Garamond Initials F1';
    src: url('../fonts/EBGaramond-InitialsF1.otf') format('opentype');
}

@font-face {
    font-family: 'EB Garamond Initials F2';
    src: url('../fonts/EBGaramond-InitialsF2.otf') format('opentype');
}