#footer {
    display: grid;
    grid-template-columns: 1fr 192px 1fr;
    align-items: center;
    column-gap: 1rem;
    position: relative;
    padding-top: 0.5rem;
    margin-top: 2rem;
}

#footer div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 2rem;
}

#footer div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 2rem;
}

#footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

#footer-center img {
    background: var(--bg);
}
