#header {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    align-items: center;
    column-gap: 1rem;
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

#header::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(0.65em); /* ...then nudge down a bit */
    height: 2px;
    background: var(--fg);
    z-index: 0; /* ensures it's behind content */
}

#header div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 2rem;
}

#header div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 2rem;
}

#header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.header-link {
    position: relative;
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

#home {
    text-decoration: none;
    text-transform: none;
    font-variant-caps: small-caps;
    font-style: italic;
    font-size: 38px;
    line-height: 1;
}

#brahms-video {
    width: 200px;
    border: 1px solid var(--fg);
}
