:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --bg: light-dark(var(--nord0), var(--nord6));
    --bgSecondary: light-dark(var(--nord1), var(--nord5));
    --bgTertiary: light-dark(var(--nord2), var(--nord4));
    --bgSelection: light-dark(var(--nord2), var(--nord5));
    --bgScrollbar: light-dark(var(--nord3), var(--nord4));

    --fg: light-dark(var(--nord6), var(--nord0));
    --fgSecondary: light-dark(var(--nord5), var(--nord1));
    --fgTertiary: light-dark(var(--nord4), var(--nord2));
    --fgSelection: light-dark(var(--nord5), var(--nord2));
    --fgScrollbar: light-dark(var(--nord4), var(--nord3));
    --fgLink: light-dark(var(--nord8), var(--nord9));
}

::-moz-selection {
    color: var(--fgSelection);
    background: var(--bgSelection);
}

::selection {
    color: var(--fgSelection);
    background: var(--bgSelection);
}

html {
    margin: 1em;
    scroll-behavior: auto;
    overflow-y: scroll;
    scrollbar-color: var(--fgScrollbar) var(--bgScrollbar);
}

body {
    margin: 0 auto;
    font-family: 'Source Serif', serif;
    background-color: var(--bg);
    color: var(--fg);
}

main {
    padding: 0 1rem;
}

.home-wrapper {
    display: flex;
    width: 750px;
    margin: auto;
    padding-top: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 750px;
    justify-content: center;
    transform: translateX(-150px);
    column-gap: 3rem;
    padding-top: 1rem;
}

a {
    transition: 0.13s;
    text-decoration-color: var(--fgLink);
    color: var(--fg);
    outline: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
}

a:hover {
    color: var(--fgLink);
}

iframe {
    display: block;
    margin: auto;
}

.caps {
    text-transform: lowercase;
    font-variant-caps: small-caps;
}

.sticky {
    height: calc(100vh - 2em);
    position: sticky;
    top: 1em;
}

article {
    font-size: 20px;
    line-height: 1.5;
}

article :first-child {
    margin-top: 0;
}

article h2 {
    font-size: 2em;
    font-variant-caps: small-caps;
    border-bottom: 3px solid var(--fgSecondary);
}

article h3 {
    font-size: 1.34em;
    border-bottom: 1px dotted var(--fgSecondary);
}

article h2, article h3, article h4 {
    margin-left: -1rem;
}

article h2 a, article h3 a, article h4 a {
    cursor: pointer;
    text-decoration: none;
    color: var(--fgSecondary);
}

article h2 a::after, article h3 a::after, article h4 a::after {
    content: '\1F517';
    font-size: 0.8em;
    margin-left: 8px;
    visibility: hidden;
    transition: opacity 0.2s, transform 0.2s;
    opacity: 0;
    transform: translateY(-2px);
}

article h2 a:hover::after, article h3 a:hover::after, article h4 a:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

article[data-use-dropcap=true]>p:first-of-type {
    position: relative;
}

article[data-use-dropcap=true]>p:first-of-type:first-letter {
    text-transform: uppercase;
    float: left;
    pointer-events: none;
    color: var(--fg);
    font-size: 5.5em;
    line-height: 1;
    font-family: "EB Garamond Initials F2";
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

article[data-use-dropcap=true]>p:first-of-type:before {
    content: attr(data-first-letter);
    font-family: "EB Garamond Initials F1";
    text-transform: uppercase;
    font-size: 5.5em;
    color: var(--bgSecondary);
    position: absolute;
    line-height: 1;
    left: 0;
    margin-top: 0.5rem;
}

article[data-use-dropcap=true]>p:first-of-type:first-line {
    font-variant-caps: small-caps;
}

figure {
    margin: 1.2rem auto;
    text-align: center;
}

figure > figcaption {
    max-width: 89%;
    font-size: 0.9rem;
    opacity: 0.8;
    margin: 0.4rem auto auto auto;;
}

/* archives */

#archives {
    width: 750px;
    margin: auto;
}

#archives > h1 {
    font-variant-caps: small-caps;
    text-align: center;
}

.archive-sub {
    font-style: italic;
    text-align: center;
}

embed {
    width: 100%;
    height: 900px;
}

.callout {
    margin: 1em 0;
    padding: 15px 20px;
    border: 1px solid var(--fgSecondary);
    background-color: var(--bgSecondary);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.note {
    border-left: 5px solid light-dark(var(--nord10), var(--nord7));
}

details > summary {
    cursor: pointer;
}

.ext-blank {
    white-space: nowrap;
}